<div class="site-navigation" role="navigation" id="site-navigation">

  <div class="wrapper wrapper--navigation l-site-navigation">

  <a href="/" class="masthead-logo">
  {{ shop.name }}
  </a>

      <ul class="navigation-menu">
        <li class="navigation__item">
          <a class="navigation__link" href="https://lifetropics.com/account">Nutrition Guides</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="https://lifetropics.com/pages/contact">Customer Info</a>
        </li>
      </ul>

      <span class="mobile-dropdown" onclick="openNav()">Browse &#9776;</span>

    <div class="mobile-only">
     <form action="/search" method="get" role="search" class="search-box">
       <label for="Search" class="label-hidden">
       </label>
       <div class="search-box__field">
        <input class="search-box__input" type="search"
             name="q"
             id="Search"
             value="Search"
                 placeholder="{{ 'general.search.placeholder' | t }}" />
         <button type="submit" class="search-box__button">
         <svg class="search-box__button-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
         </button>
        </div>
      </form>
    </div>

    <a href="/cart" class="navigation-cart">
      <svg class="cart__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
      <span class="cart__text">
        {{ 'layout.cart.title' | t }}
        ({{ cart.item_count }}
        {{ 'layout.cart.items_count' | t: count: cart.item_count }})
      </span>
    </a>

  </div>
</div>